.grid-12
  %h2= @invoice.title
  %h3 Details
  %table
    %tr
      %th Client
      %th Date Created
      %th Total
    %tr
      %td= @invoice.client.name
      %td= @invoice.created_at.strftime("%d/%m/%Y")
      %td= number_to_currency @invoice.total
  - unless @invoice.payment.blank?
    %table
      %tr
        %th Payment Status
        %th Date Paid
        %th Amount
      %tr
        %td Paid
        %td= @invoice.payment.created_at.strftime("%d/%m/%Y")
        %td= number_to_currency @invoice.total
  %h3 Line Items
  %table
    %tr
      %th Task
      %th Amount
      %th Actions
    - if @invoice.expenses.count > 0
      - @invoice.expenses.each do |expense|
        %tr
          %td= expense.task
          %td= number_to_currency expense.total
          %td.actions
            = link_to content_tag(:i, Tally::Application::SHOW.html_safe, class: "ss-icon"), invoice_expense_path(@invoice, expense)
            = link_to content_tag(:i, Tally::Application::EDIT.html_safe, class: "ss-icon"), edit_invoice_expense_path(@invoice, expense)
            = link_to content_tag(:i, Tally::Application::DESTROY.html_safe, class: "ss-icon"), invoice_expense_path(@invoice, expense), :method => :delete, :data => { :confirm => 'Are you sure?' }
    - else
      %tr
        %td{ colspan: 10 } This invoice does not have any line items
  - if @invoice.payment.blank?
    .preview{ "data-no-turbolink" => true }
      = link_to "Preview", preview_invoice_path(@invoice), class: :button
    = link_to "Add Line Item", new_invoice_expense_path(@invoice), class: :button
    = link_to "Edit #{ @invoice.title } Invoice", edit_invoice_path(@invoice), class: :button

